body {

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0;

  padding-top: 150px;
  padding-bottom: 50px;
  padding-left: 200px;
  padding-right: 200px;

  background-image: url(Background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: repeat;

  height: 100vh;

  background-color: rgb(28, 5, 41);

  /*
  background: #EBA867;
  background: linear-gradient(0deg,rgba(235, 168, 103, 1) 0%, rgba(255, 203, 123, 1) 100%);
  */
}

.create_account_container {

  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 25px;

  width: 90%;
  height: 100%;

  border-radius: 10px;

  padding: 2%;


  background-color: rgba(29, 194, 139, 0);
  /*
  background: linear-gradient(0deg,rgba(235, 168, 103, 1) 0%, rgba(255, 203, 123, 1) 100%);
  */
}

.input_account_info_container {

  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1;

  height: 100%;

  padding: 2%;

  box-sizing: border-box;

  background-color: rgba(137, 43, 226, 0);


}

.image_and_shit_container {

  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1;

  height: 100%;

  padding: 2%;

  box-sizing: border-box;

  background-color: rgba(102, 51, 153, 0);

}

.image_flavor_text {

  text-align: center;
  font-size: 45px;

  color: aliceblue;
  text-shadow: 0px 2px 3px black;

  padding: 25px;

  border-radius: 25px;

  box-shadow: 0px 3px 2px rgba(20, 34, 109, 0.664);

  background: #EBA867;
  background: linear-gradient(0deg,rgb(240, 144, 49) 0%, rgba(255, 203, 123, 1) 100%);

}

.create_instructions_container {

  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1;
  width: 90%;


  padding-top: 2%;

  background-color: rgba(134, 158, 211, 0);


}

.create_instructions_header {

  text-align: center;
  font-size: 50px;

  color: white;
  text-shadow: 0px 2px 5px black;

}

.create_instructions_flavor_text {

  text-align: center;
  font-size: 30px;

  color: white;
  text-shadow: 0px 2px 5px black;

}

.name_container {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  flex: 1;
  width: 90%;

  gap: 5%;

  box-sizing: border-box;

  padding-right: 2%;
  padding-left: 2%;

  background-color: rgba(255, 0, 0, 0);

}

.name_input {

  padding-left: 9px;
  flex: 1;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 15px;

  border: 0;
  border-radius: 10px;

  box-shadow: 0px 3px 5px rgba(4, 4, 95, 0.822);


}

.name_input:hover {

  height: 20%;

}

.name_input:focus
{
  outline: none;
}

.email_container {

  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
  width: 90%;

  box-sizing: border-box;

  padding-right: 2%;
  padding-left: 2%;


  background-color: rgba(255, 0, 0, 0);

}

.email_input {

  padding-left: 9px;
  flex: 1;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 15px;

  border: 0;
  border-radius: 10px;

  box-shadow: 0px 3px 5px rgba(4, 4, 95, 0.822);

}

.password_container {

  display: flex;
  flex-direction: column;
  justify-content: center;

  flex: 1;
  width: 90%;

  padding-right: 2%;
  padding-left: 2%;

  gap: 7px;

  box-sizing: border-box;

  background-color: rgba(255, 0, 0, 0);

}

.password_input {

  padding-left: 9px;
  flex: 1;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 15px;

  border: 0;
  border-radius: 10px;

  box-shadow: 0px 3px 5px rgba(4, 4, 95, 0.822);

}

.confirm_create_account_container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  flex: 2;
  width: 100%;

  padding-top: 2%;
  padding-bottom: 2%;

  background-color: rgba(255, 0, 0, 0);

}

.terms_of_service_container {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  flex: 1;
  width: 90%;

  background-color: rgba(24, 94, 151, 0);

}

.terms_of_service_note {

  font-size: 25px;

  color: aliceblue;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.89);

}

.terms_of_service_link {

  color: rgb(153, 231, 255);
  text-decoration: underline;

  text-shadow: 1px 2px 1px black;

}

.terms_of_service_link:hover {

  cursor: pointer;

}

.terms_of_service_checkbox {

  width: 17px;
  height: 17px

}

.create_account_button {

  width: 50%;
  height: 50%;

  font-size: 35px;
  text-shadow: 0px 2px 2px black;

  border: 0;
  border-radius: 25px;

  box-shadow: 0px 5px 2px rgba(8, 13, 78, 0.603);

  color: aliceblue;

  background: #EBA867;
  background: linear-gradient(0deg,rgb(238, 163, 65) 0%, rgba(255, 203, 123, 1) 100%);

}

.create_account_button:hover {

  color: rgb(11, 42, 70);
  

}