.header_container {

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: rgba(161, 23, 143, 0.5);

  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 10;

  height: 75px;

  padding: 1rem;
}

.header_left_container {
  
  display: flex;
  justify-content: center;
  
  flex: 0.5;
  
  
  background-color: aqua;
}

.header_center_container {
    
  display: flex;
  align-items: center;
  justify-content: center;
  
  flex: 2;
    
  font-size: 60px;
  

  background-color: rgb(228, 8, 8);
    
}
  
.header_right_container {
  
  display: flex;
  justify-content: space-evenly;
    
  flex: 0.3;
    
  padding: 1rem;
  
  background-color: aqua;
}

.user_options_button {

  border: 0;
  border-radius: 50%;


  
  height: auto;


}

.notifications_button {

  border: 0;
  border-radius: 50%;
  
  height: auto;

}