body {
    background-color: rgb(194, 192, 192);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    flex-wrap: wrap;
}

.titulo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.span-1 {
    color: rgb(12, 66, 26);
    font-size: 1.5rem;
    margin-left: 15px;
}

.span-2 {
    color: rgb(12, 66, 26);
    font-size: 1.5rem;
}

.paginas a {
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: rgb(10, 71, 121);
}

.paginas a:hover {
    color: rgb(0, 132, 255);
    border-top: 2px solid rgb(0, 132, 255);
    border-bottom: 2px solid rgb(0, 132, 255);
}

.morango-container {
    display: flex;
    align-items: flex-end;
    gap: 0; 
    margin-right: 50px;
}

.morango-img {
    width: 50px; 
}

.morango-centro {
    margin-bottom: 20px;
}

.secao-1 {
    width: 500px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.secao-2 {
    width: 500px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.img {
    width: 250px;
    margin: 0 auto;
}

.img img {
    width: 100%;
    border-radius: 100%;
}

.img2 img {
    width: 50%;
}