body {
    background-image: url("img/star.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.header_cab {
    background-color: rgba(5, 107, 19, 0.562);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    flex-wrap: wrap;
}

.titulo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.span-1 {
    color: rgb(12, 51, 23);
    font-size: 1.5rem;
    margin-left: 15px;
}

.span-2 {
    color: rgb(12, 51, 23);
    font-size: 1.5rem;
}

.paginas a {
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: rgb(12, 107, 185);
}

.paginas a:hover {
    color: rgb(0, 132, 255);
    border-top: 2px solid rgb(0, 132, 255);
    border-bottom: 2px solid rgb(0, 132, 255);
}

.paginas2 a{
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: rgb(0, 0, 0);
}

.paginas2 a:hover{
    color: rgb(68, 70, 73);
}

.morango-container {
    display: flex;
    align-items: flex-end;
    gap: 0; 
    margin-right: 50px;
}

.morango-img {
    width: 50px; 
}

.morango-centro {
    margin-bottom: 20px;
}

.fundo_escrito{
    padding: 20px;
    margin: 30px;       
    border-radius: 10px;
    background-color: rgba(5, 107, 19, 0.562)      
}

.secao-a1 {
    width: 500px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.secao-a2 {
    width: 500px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.img {
    width: 250px;
    margin: 0 auto;
}

.img img {
    width: 125%;
    border-radius: 100%;
}

