body {
    color: white;
    background-color: rgb(35, 73, 90);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    padding: 0;
}


.container {
    width: 1500px; 
    max-width: 1200px; 
    margin: 40px auto; 
    padding: 0px 50px; 
}


.center {
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 2.5em; 
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8em;
    color: #4CAF50; 
}

p {
    font-size: 20px;
    line-height: 1.6; 
}


.redondo {
    width: 700px;
    height: 300px;
    border-radius: 10%;
    object-fit: cover; 
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.outroredondo {
    width: 100%; 
    max-width: 400px; 
    height: 250px;
    object-fit: cover; 
    border-radius: 10%;
}

div1, div2, div3, div4, div5, div6{
    background-color: #1c1c1c; 
    padding: 30px;
    margin-top: 40px;
    border-radius: 10px;
    border: 1px solid #333; 
    overflow: auto;
    box-shadow: 15px 10px 5px rgba(0, 0, 0, 0.2);
    display: block; 
}


div2 img, div3 img, div4 img, div5 img {
    width: 400px; 
    display: block;
    margin: 0 auto;
}

.container2{
    width: 800px;
    margin: 0 auto;
    border: 1px;
    height: 300px;
}


img {
    width: 60px;
    margin: 0 auto;
    border-radius: 50px;
    height: auto;
}